.header{font-size: 50px;
        word-spacing: -13px;
        text-transform: capitalize;
        padding: 20px 515px 50px 515px;}

.stand{ color: rgba(11, 187, 211, 1);}

.ukraine{color: rgba(40, 205, 227, 1);}

.sobor{background-image: url(../img/Успенський\ собор\ 1.png);
       background-repeat: no-repeat;}
   
.proKH{padding: 250px 100px 350px 200px;
        font-size: 64px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        line-height: 100px;
        font-weight: 800;}

.prapor{position: absolute;
        padding: 100px 500px 500px 60px;
        margin: 0;}

.blue{background-color: rgba(51, 184, 241, 1);
        padding: 30px 5px 550px 40px;
        position: absolute;}

.yelow{background-color: rgba(232, 248, 47, 1);
       padding: 90px 5px 210px 40px;
       position: absolute;}


.miscya{position: absolute;
        font-size: 60px;
        padding: 10px 20px 10px 60px;
        font-weight: 800;}

.line{background-color:rgba(51, 184, 241, 1);
      position: absolute;
      padding: 10px 410px 1px 0px;}

.card1{padding: 280px 0px 0px 70px;
       position: absolute;}
    
.opus{background-image: url(../img/Сад-Шевченко-768x512\ 1.png);
      background-repeat: no-repeat;
      box-shadow: -5px 5px 30px;
      height: 500px;
      border: 0px solid;
      width: 396px;
      border-radius: 8%;
      font-size: 40px;
      line-height: 50px;}  

.sadSH{position: absolute; 
       padding: 270px 0px 0px 0px;
       color: rgba(51, 184, 241, 1);
       font-weight: 900;}

.KHpark {position: absolute;
         padding: 270px 0px 0px 0px;
         word-wrap: break-word;}

.card2{position: absolute;
       padding: 280px 300px 100px 510px;
       border-radius: 8%;}

.FRbulvar{background-image: url(../img/Сад-Шевченко-768x512\ 5.png);
          background-repeat: no-repeat;
          font-size: 39px;
          box-shadow: 0px 5px 30px;
          padding: 280px 5px 80px 0px;
          border: 0px solid;
          border-radius: 8%;
          word-wrap: break-word;}

.fb{font-weight: 700;}

.elfveza{line-height: 100px;}

.card3{position: absolute;
       padding: 280px 100px 10px 950px;
       border-radius: 8%;}
    
.textcard3{background-image: url(../img/Сад-Шевченко-768x512\ 2.png);
           background-repeat: no-repeat;
           font-size: 39px;
           padding: 280px 19px 80px 0px;
           border: 0px solid;
           border-radius: 8%;
           word-wrap: break-word;
           box-shadow: 5px 5px 30px;
           text-align: center}  

.lopnab{font-weight: 700;}

.vudnanab{line-height: 100px;
          text-align: center;}
 
.vbukraina{font-size: 50px;
           text-transform: uppercase;
           font-weight: 800;
           padding: 900px 20px 10px 500px;}
      
.line2{background-color:rgba(51, 184, 241, 1);
       box-sizing: border-box;
       padding: 10px 20px 1px 460px;
       width: 10px;}

.heart{padding: 50px 230em 1em 15em;} 

.textpidtrumuy{padding: 0px 0px 180px 550px;}

.pidtrumyu{font-weight: 900;
           text-transform:uppercase;
           font-size: 50px;
           background-color: rgba(51, 173, 241, 1);
           margin: 0%;
           color: rgba(255, 255, 255, 1);
           padding: 10px ;
           width: 340px;}
        
.contacts{background-color:rgba(10, 45, 169, 1);
          width: 800px;
          text-align: center;
          position: absolute;
          font-size: 80px;
          word-spacing: -15px;
          padding: 80px 320px 10px 320px;}

.stand2{color: rgba(11, 187, 211, 1);
        text-transform: capitalize;}

.with2{color: rgba(248, 245, 245, 1);
        text-transform: capitalize;}

.ukraine2{color: rgba(40, 205, 227, 1);
          text-transform: capitalize;}

.mail-tel{font-size: 32px;
          padding:10px;
          line-height: 100px;}
          
.social-network{word-spacing: 40px;}
